@import "../../../assets/styles/global/global.scss";

.nav-item {
  margin-left: -#{$spacing-default};
  padding: $spacing-default;
  padding-left: $spacing-default;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: 700;

  &:hover {
    svg,
    a {
      fill: white;
      color: white;
    }
  }
}

.active {
  background-color: $purple;
}

.active a {
  color: white;
}

.link {
  color: $lighter-grey;

  &:hover {
    color: white;
  }
}

.create-new {
  &:hover {
    svg {
      fill: $purple;
    }
  }
}
