@import "../../../assets/styles/main.scss";

.wrapper {
  width: 100%;
  padding: $spacing-default;
  background-color: $charcoal;
}

.container {
  width: 40px;
  height: 20px;
  background-color: $purple;
  border-radius: 15px;
  position: relative;
}

.toggle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.right {
  transform: translateX(100%);
}

.left {
  transform: translateX(0);
}
