.btn {
  padding: $spacing-default;
  border-radius: $rounded-corners;
  border: 0;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  min-width: 135px;
  min-height: 55px;
  transition: background-color 0.1s;
  border: 2px solid transparent;

  &-primary {
    background-color: $purple;
    color: white;

    &:hover {
      background-color: $purple-hover;
    }

    &:focus {
      border-color: white;
    }
  }

  &-remove-styling {
    height: auto;
    min-height: auto;
    min-width: auto;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    padding: 0;

    &:focus {
      border-color: white;
    }
  }
}
